@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    margin: 20px;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.section-intro {
    height: 850px;
    background-image: url(img/gym.pic.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    flex: 1;
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}


.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}
a.link-to-book {
  color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-book:hover {
    background-color: firebrick;
    color: white;
    text-decoration: none;
}

/*About section*/

.about{
	padding:80px 0px;
	background-color:#ffffff;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
	background-color: #c11325;
}
.about .content .box .inner .img img{
	width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#ffffff;
 text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}


.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: firebrick;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: indianred;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.7rem;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

/* Footer */

footer {
  background-color: firebrick;
  padding: 50px;
}

.footer-wrapper {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 30px;
}

.social-link {
  display: flex;
  gap: 15px;
}

.social-link ion-icon {
  color: white;
  font-size: 30px;
  transition: 0.25s ease;
}

.social-link ion-icon:hover { color: indianred; }

.copyright {
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 0.5px;
}

@media (min-width: 570px) {
 .footer-wrapper {
    max-width: var(--mw);
    margin-inline: auto;
  }
}
@media (min-width:577px) and (max-width: 800px) {
    .nav-flex-row li a {
        font-size: 0.9rem;
    }
    
    .section-intro {
        height: 500px;
    }
    
    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}


@media(max-width: 767px){
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
    .nav-flex-row li a {
        font-size: 0.8rem;
    }

@media screen and (max-width: 576px) {
    .nav-flex-row li a {
        font-size: 0.7rem;
    }
    
    .section-intro {
        height: 300px;
    }
    .content {
        flex-direction: column;
    }
    .img{
        object-fit: contain;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}

